p{
  color:#000A40;
  font-family: 'Roboto', sans-serif;
  font-family: 'PT Serif', serif;
  font-size:1rem;
  line-height:1.5rem
}

title{
  font-family: "Roboto"
}

.italic{
  font-style:italic;
}

h1, h2, h3, h4, h5, h6{
  font-family:"Roboto", Helvetica, Arial, sans-serif;
}

h1{
  font-size:2.5rem;
}

body{
  background-color:#06A3FF;
}

li{
  text-decoration:none;
}

body{
  text-align:center;
}

#nav ul{
  list-style-type:none;
  float:left;
  margins:0;
  padding:0;
  width:25%;
  list-style-type:none;
  text-align:left;
}

#nav a:link, a:visited{
  display:block;
  color:#ffffff;
  background-color:#1b35c6;
  font-weight:bold;
  text-align:center;
  text-decoration:none;
  padding:4px;
  font-family:"Roboto", Helvetica, Arial, sans-serif;

}

#nav a:hover, #nav a:active{
  background-color:#011482;
}


#nav{
  padding:0;
}

.caption{
  cololr:black;
  font-family:"Merriweather Sans", Helvetica, Arial, sans-serif;
  font-size:0.8em;
  margin-top:0;
  font-style:italic;
  text-align:right;
}

img{
  border-style:none;
}

#footer{
  color:black;
  font-family:"Merriweather", Georgia, "Times New Roman", serif;
  font-size:0.8em;
  border-top:1px solid black;
  border-color:black;
}

ul{
  list-style-type:none;
  text-align:left;
}
